spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: iam-auth-route
          uri: http://localhost:8081/
          predicates:
            - Path=/api/v1/auth/**
        - id: iam-users-route
          uri: http://localhost:8081/
          predicates:
            - Path=/api/v1/users/**
        - id: cos-route
          uri: http://localhost:8084/
          predicates:
            - Path=/api/v1/cos/**
        - id: mds-route
          uri: http://localhost:8082/
          predicates:
            - Path=/api/v1/mds/** , /mds/v3/api-docs
        - id: tcs-route
          uri: http://localhost:8083/
          predicates:
            - Path=/api/v1/tcs/** , /v3/api-docs/tcs
        - id: ums-route
          uri: http://localhost:8085/
          predicates:
            - Path=/api/v1/ums/**
        - id: tms-route
          uri: http://localhost:8086/
          predicates:
            - Path=/api/v1/tms/**
        - id: config-route
          uri: http://localhost:8087/
          predicates:
            - Path=/api/v1/config/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedHeaders:
              - "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
    discovery:
      enabled: true

  gateway:
    excludedURLsNew: /api/v1/validateToken

server:
  port: 8080
  compression:
    enabled: false
  undertow:
    threads:
      worker: 64
      io: 4
  tomcat:
    basedir: ./log
    accesslog:
      directory: .
      enabled: true
      suffix: '.log'
      prefix: 'api-gateway-log'
      file-date-format: '.yyyy-MM-dd'

logging:
  level:
    root: "INFO"
#  authentication:
#    excluded-paths:
#      - /login
#      - /register

#  aws:
#    accessKey: your-access-key
#    secretKey: your-secret-key
#    region: your-region

springdoc:
  swagger-ui:
    urls:
      - name: IAM
        url: http://localhost:8081/v3/api-docs/iam
      - name: MDS
        url: http://localhost:8082/v3/api-docs/mds
      - name: TCS
        url: http://localhost:8083/v3/api-docs/tcs
      - name: COS
        url: http://localhost:8084/v3/api-docs/cos
      - name: UMS
        url: http://localhost:8085/v3/api-docs/ums
      - name: TMS
        url: http://localhost:8086/v3/api-docs/tms
      - name: CONFIG
        url: http://localhost:8087/v3/api-docs/config
      - name: NOTIFY
        url: http://localhost:8089/v3/api-docs/notification



